{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'configuration'}
{/block}

{block name="page-title"}{intl l='List of Gone (410) URLs' d="rewriteurl.bo.default"}{/block}

{block name="main-content"}
    {$order = $smarty.get.order|default:"created_at:desc"}
    {$page = $smarty.get.page|default:1}

    <div class="row">
        <div class="col-md-12">
            <div class="general-block-decorator">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title col-md-9">
                            {intl l="Manage Gone (410) URLs" d='rewriteurl.bo.default'}
                        </div>

                        <br>

                        <table class="table table-condensed table-striped" id="redirection-table">
                            <thead>
                            <tr>
                                <th class="text-center"><label class="control-label">{intl l='URL Source' d="rewriteurl.bo.default"}</label></th>
                                <th class="text-center"><label class="control-label">{intl l='Created At' d="rewriteurl.bo.default"}</label></th>
                                <th class="text-center"><label class="control-label">{intl l='Updated At' d="rewriteurl.bo.default"}</label></th>
                                <th class="text-center"><label class="control-label">{intl l="Actions" d="rewriteurl.bo.default"}</label></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="javascript-last-call"}
    {include file="RewriteUrl/manage-gone-url-js.html"}
{/block}